@use 'variables' as *;
@use 'sass:color';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $primary-color;
  color: $header-text-color;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // subtle drop shadow

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $header-text-color;
    text-decoration: none;
    display: flex;
    align-items: center;

    i {
      margin-right: 8px;
      font-size: 1.3rem;
    }
  }

  .hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;

    .bar {
      width: 100%;
      height: 3px;
      background-color: $header-text-color;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
    }
  }

  .menu {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;

      li {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $header-text-color;
          font-size: 1rem;
          transition: color 0.3s ease, scale 0.3s ease;

          i {
            margin-right: 8px;
            font-size: 1.1rem;
          }

          &:hover {  
            color: color.adjust($header-text-color, $lightness: -10%);
            scale:1.2;

          }
        }
      }
    }
    // .logout:hover{
    //   color:rgb(255, 0, 0)
    // }
  }

  @media (max-width: 768px) {
    .hamburger-menu {
      display: flex;
    }

    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: $header-height;
      right: 0;
      background-color: $primary-color;
      width: 100%;
      padding: 10px 20px;

      ul {
        flex-direction: column;
        gap: 10px;
        li{
          width:100%;
          margin:5px 0px;
          padding:3px 0px;
          a:hover{
            color: color.adjust($header-text-color, $lightness: -10%);
            scale:1.05;
            
          }

        }
      }
    }

    .menu.menu-open {
      display: flex;
      gap:10px;
      box-sizing: border-box;
    }
  }
}

main {
  margin-top: $header-height;
  padding-top: 20px;
}


